@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    table {
        border-spacing: 0 !important;
        border-collapse: collapse !important;
        table-layout: fixed !important;
        margin: 0 auto !important;
    }

    h2 {
        
    }
}

@layer utilities{
    .bb{
        border: 1px dashed black;
    }
    .bw{
        border: 1px dashed white;
    }
    
}

